
.square-button{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 34px;
  height: 125px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 125px;
  cursor: pointer;
}
.square-button:focus{
  outline: none;
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.status{
  font-size: 16px;
    color: green;
    margin-bottom: 24px;
    font-weight: bold;
}